{% extends "frontend/object_list.html" %}

{% load custom_filters %}

{% block title %}Disease List{% endblock %}

{% block header %}Disease List{% endblock %}

{% block content %}
{% if diseases %}
<table>
    <thead>
    <tr>
        {% for field, label in fields %}
        <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for disease in diseases %}
    <tr>
        {% for field, _ in fields %}
        <td><a href="{% url 'disease_detail' id=disease.id %}">{{ disease|get_attr:field }}</a></td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No diseases found.</p>
{% endif %}
{% endblock %}
