{% extends "frontend/object_detail.html" %}

{% load custom_filters %}

{% block title %}Favor Detail{% endblock %}

{% block header %}Favor Detail{% endblock %}

{% block content %}
{% if favor %}
<table>
    <tbody>
    {% for key, label in fields %}
    <tr>
        <th>{{ label }}</th>
        <td>{{ favor|get_attr:key }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'favor_list' %}">Back to list</a>
{% else %}
<p>No favor data to display.</p>
{% endif %}
{% endblock %}