{% extends "frontend/object_list.html" %}

{% load custom_filters %}

{% block title %}Patient Diseases Journal{% endblock %}

{% block header %}Patient Diseases Journal{% endblock %}

{% block content %}
{% if patient_diseases %}
<table>
    <thead>
    <tr>
        {% for field, label in fields %}
        <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for patient_disease in patient_diseases %}
    <tr>
        {% for field, _ in fields %}
        <td>
            {% if field == "doctor" %}
                {% if patient_disease.doctor.id %}
                    <a href="{% url 'doctor_detail' id=patient_disease.doctor.id %}">
                        {{ patient_disease.doctor.last_name }} {{ patient_disease.doctor.first_name }}
                    </a>
                {% else %}
                    deleted
                {% endif %}
            {% else %}
                {{ patient_disease|get_attr:field }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No disease histories found.</p>
{% endif %}
{% endblock %}
